<!DOCTYPE html>
<html lang="en">

<head>
    {% if site.ga4 != null %}
    {% include ga4.html %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.tagline }} - {{ site.name }}</title>
    <link rel="shortcut icon" href="{{ site.favicon.path }}" type="image/{{ site.favicon.type }}">
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://code.iconify.design/2/2.0.0/iconify.min.js"></script>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:image" content="{{ site.url }}/{{ site.image.path }}" />
    <meta property="og:image:type" content="image/{{ site.image.type }}" />
    <meta property="og:image:width" content="{{ site.image.width }}">
    <meta property="og:image:height" content="{{ site.image.height }}">
    <meta property="og:image:alt" content="{{ site.image.alt }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter.username }}" />
    <meta name="twitter:title" content="{{ site.name }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.url }}/{{ site.image.path }}" />
    <!-- Meta Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1364885895400025');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1364885895400025&ev=PageView&noscript=1"
      /></noscript>
    <!-- End Meta Pixel Code -->
</head>

<body>
    <div class="container is-full-screen">
        <header>
            <div class="top is-center is-vertical-align">
                <img class="is-rounded" width="200px" height="200px" src="{{ site.logo }}" alt="logo">
                <h1 class="text-center">{{ site.name }}{% if site.badge.enable == true %}<span class="iconify-inline badge"
                        data-icon="{{ site.badge.icon }}" style="color: {{ site.badge.color }}"></span>{% endif %}</h1>
                <p class="text-center">{{ site.description }}</p>

                    <p style="font-weight:300;text-align: center;font-size: small;"> <u>Chi siamo:</u> un progetto musicale nato da Calabresi per portare e valorizzare dialetti e cultura Calabrese in musica moderna, dalla musica elettronica, al jazz, al rock, etc.
                        
                    <br/><br/><u>Come lo facciamo:</u> Questo è un progetto musicale indipendente, realizzato senza budget per produzioni in studio o dal vivo. Intelligenza artificiale è uno dei componenti utilizzati  nella creazione dei nostri contenuti digitali - non come sostituto della creatività, ma come ponte tra la nostra visione e le risorse che abbiamo.
                    <br/><br/><u>Cu nde vitte mai sordi:</u> il progetto non ha scopo di lucro, qualunque potenziale guadagno viene re-investito nel progetto stesso. Chi volesse contribuire con testi, idee, grafica, video o supporto marketing ci può scrivere all'email in fondo alla pagina. </p>
        
        </nav>

            </div>
        </header>

        <!-- Dark / Light Mode Switch -->
        <!-- {% include theme-switch.html %} -->

        <!-- Link Buttons -->
        {% include links.html %}

        <!-- Social Media Links -->
        <!-- {% include social.html %} -->


        {% include songs.html %}


        {% include footer.html %}
    </div>
    <script src="assets/script.js"></script>
</body>

</html>
